<a href="https://colab.research.google.com/github/ZykinaViktoriya/Python_for_analytics/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача 1

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
def total_fruits(**kwargs):
  for name, values in kwargs.items():
    return sum(kwargs.values())

In [ ]:
total_fruits(apple = 30, orange = 45, lemon = 13)

88

## Задача 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.

Удалите такие значения из списка и посчитайте суммарные затраты

Используйте list comprehensions

In [1]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

In [5]:
expenses_new = [i if i > 0 else 0 for i in expenses]
print(expenses_new)
print(sum(expenses_new))

[100, 125, 0, 345, 655, 0, 0, 200]
1425

## Задача 3

Даны два списка.

Дата покупки

In [10]:
date_buy = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

In [11]:
sum_buy = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 3.1 Найдите, какая выручка у компании в ноябре Используйте list comprehensions

In [ ]:
list_Month = [i.split('-')[1] for i in date_buy]
list_Month

In [24]:
November_Revenue = [(f'Месяц {list_Month[i]}', f'выручка {sum_buy[j]}')
                          for i in range(len(list_Month))
                          for j in range(len(sum_buy))
                          if i == j and list_Month[i] == '11']
print(November_Revenue)
print(November_Revenue[0][0], sum([amount for dates, amount in zip(date_buy, sum_buy) if dates[5:7] == "11"]))

[('Месяц 11', 'выручка 4944'), ('Месяц 11', 'выручка 3701'), ('Месяц 11', 'выручка 7037'), ('Месяц 11', 'выручка 4274'), ('Месяц 11', 'выручка 2004'), ('Месяц 11', 'выручка 2822'), ('Месяц 11', 'выручка 316')]
Месяц 11 25098

### 3.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [31]:
def sum_month(date: list, money: list) -> dict:
    res = {}
    for d, m in zip(date, money):
        if d[5:7] in res.keys():
            res[d[5:7]] = res[d[5:7]] + m
        else:
            res[d[5:7]] = m
    return res

print(sum_month(date_buy, sum_buy))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}